<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>工具栏组件</title>
  <script src="../../static/js/echarts.min.js"></script>
</head>
<body>
  <div id="demo" style="width: 1000px;height: 300px;"></div>
  <script>
    const demo = document.getElementById('demo');
    const myChart = echarts.init(demo);
    const dates = [];
    const gmvs = [];
    for(let i=1; i<=30; i++){
      dates.push(i + '日');
      gmvs.push(Math.random() * 10000);
    }
    const option = {
      // 标题组件
      title: {
        text: 'GMV的销售额度',
      },
      toolbox: {
        show: true,
        feature: {
          myTool1: {
              show: true,
              title: '自定义扩展方法1',
              icon: 'path://M432.45,595.444c0,2.177-4.661,6.82-11.305,6.82c-6.475,0-11.306-4.567-11.306-6.82s4.852-6.812,11.306-6.812C427.841,588.632,432.452,593.191,432.45,595.444L432.45,595.444z M421.155,589.876c-3.009,0-5.448,2.495-5.448,5.572s2.439,5.572,5.448,5.572c3.01,0,5.449-2.495,5.449-5.572C426.604,592.371,424.165,589.876,421.155,589.876L421.155,589.876z M421.146,591.891c-1.916,0-3.47,1.589-3.47,3.549c0,1.959,1.554,3.548,3.47,3.548s3.469-1.589,3.469-3.548C424.614,593.479,423.062,591.891,421.146,591.891L421.146,591.891zM421.146,591.891',
              onclick: function (){
                  alert('myToolHandler1')
              }
          },
          dataZoom: {},
          dataView: {},
          magicType: {type: ['line', 'bar']},
          restore: {},
          saveAsImage: {},
        }
      },
      // x轴数据展示
      xAxis: {
        data: dates
      },
      // y轴数据展示
      yAxis: {

      },
      series: [{
        name: '销售额',
        type: 'bar',
        data: gmvs
      }]
    }
    myChart.setOption(option);
  </script>
</body>
</html>